




<div id="execute" >

	<h4>Online.Compiler </h4>
<hr>
 <%= form_tag("/code/submitcode", method: "post") do %> 
<h4><strong>Select Compiler </strong></h4>
  <%= select_tag("Compiler", options_for_select(@language_array)) %>
  <p>
<h4><strong>Source Code </strong></h4>

 
  
  <%= text_area_tag(:sc,"",size: "80x20") %>  

  <br>
 <h4><strong>Input </strong> </h4>
  
  <%= text_area_tag(:testcase,"", size: "26x6") %>
  </p>


  <button >Submit</button>



	<%= @ret_view %>
 


<% end %>

</div>