<section id="execute">



 <%= form_tag("/code/submitcode", method: "post") do %> 
<h6><strong>Select Compiler </strong></h6>
  <%= select_tag("Compiler", options_for_select(@language_array)) %>
  <p>
<h6><strong>Source Code </strong></h6>

 
  
  <%= text_area_tag(:sc,"",size: "80x20") %>  

  <br>
 <h6><strong>Input </strong> </h6>
  
  <%= text_area_tag(:testcase,"", size: "26x6") %>
  </p>


  <button >Submit</button>


<% while @ret_view!=nil
	
end %>
	<%= @ret_view %>
 


<% end %>

</section>